@charset "UTF-8";
#main p {
  color: #00f;
  width: 97%;
}

#main p .redbox {
  background-color: red;
  color: #000;
  width: 10px;
  height: 100px;
}

#main {
  width: 5em;
  height: 5em;
  background-color: #ff0;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  width: 100px;
  background-color: red;
  height: 100px;
}

p.foo {
  border-color: yellowgreen;
}

body.firefox .header:before {
  content: "Hi, Firefox users!";
}

/*for循环*/
.item-1 {
  width: 2em;
}

.item-2 {
  width: 4em;
}

.item-3 {
  width: 6em;
}

.item-4 {
  width: 8em;
}

/*判断*/
.item-6 {
  width: 12em;
}

.item-4 {
  width: 8em;
}

.item-2 {
  width: 4em;
}

/* if语句*/
p {
  color: blue;
}

/*each*/
.puma-icon {
  background-image: url("/images/puma.png");
}

.sea-slug-icon {
  background-image: url("/images/sea-slug.png");
}

.egret-icon {
  background-image: url("/images/egret.png");
}

.salamander-icon {
  background-image: url("/images/salamander.png");
}

/*!default 相同属性名 屏蔽后缀加!default的 */
#main {
  content: "Second content?";
  content: "First time reference";
}

/*函数*/
#sidebar {
  width: 240px;
}

@media print {
  .page22 {
    width: 8in;
  }
}

.child2 {
  width: 200px;
  height: 100px;
  background-color: red;
}

@media print {
  .page11 {
    width: 8in;
  }
  .child11 {
    width: 200px;
  }
}
